:root {

    --dark:#111827;
    --box-clr: #273549;


    --btn-green: #10B981;
    --grey: #D5D4D8;
    --white: #F5F5F5;

    --ff-karla-serif: 'Karla', sans-serif;
    --ff-inter-serif: 'Inter', sans-serif;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    background: var(--dark);
}

.container {
    padding: 5em 2em;
    margin: 0 auto;
    text-align: center;
}



.white {
    color: var(--white) ;
}
.green {
    color: var(--btn-green);
}
.grey {
    color: var(--grey);
}

h2 {
    font-family: var(--ff-inter-serif);
}

p {
    font-family: var(--ff-inter-serif);
    margin: 1em 0 0 ;
}

button {
    background-color: var(--btn-green);
    color: var(--white);
    border: none;
    margin: 1em 0;
    padding: .5em 5em ;
}

button:hover{
    background-color: red;
    cursor: pointer;
    transition: 900ms;
}

.line {
    border-top: 2px solid var(--grey);
    margin: 1em 0 5em;
}

.box {
    background-color: var(--box-clr);
    margin: 1em 0 0 ;
    padding: 1em 3em;
}

.grid {
    flex-direction: column;
}

@media (min-width: 800px) {
    .grid {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .container {
        padding: 2em 15em;
    }
}